

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

  server:
    image: node:20-alpine
    container_name: server
    working_dir: /app
    command: sh -c "npm install && npm run start"
    volumes:
      - ./server:/app
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/appdb
    depends_on:
      - mongo
    networks:
      - app_network

  client:
    image: node:20-alpine
    container_name: client
    working_dir: /app
    command: sh -c "npm install && npm start"
    volumes:
      - ./client:/app
    ports:
      - "3001:3000"
    depends_on:
      - server
    networks:
      - app_network

  client2:
    image: node:20
    container_name: client2
    working_dir: /app
    command: sh -c "npm install && npm start"
    volumes:
      - ./client2:/app
    ports:
      - "3003:3000"
    depends_on:
      - server
    networks:
      - app_network

volumes:
  mongo_data:

networks:
  app_network:
    driver: bridge
